<% include ../_base/head.ejs %>
<% include ../_base/css.ejs %>
<link href="/stylesheets/pages/home.min.css" rel="stylesheet">
<% include ../_base/container.ejs %>
<% include ../_base/header.ejs %>
<div class="app-container">

</div>
<% include ../_base/footer.ejs %>
<% include ../_base/javascript.ejs %>
<% include ../_base/foot.ejs %>