<div class="app-header">
    <div class="header-logo">
        <a href="/" class="logo-ico">
            <img src="/images/logo.png">
        </a>
    </div>
    <div class="header-nav"></div>
    <div class="header-connection"></div>
</div>